@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #09090B;
    --foreground: #FAFAFA;
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-surface/40 backdrop-blur-md border border-white/[0.08];
  }
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-b from-white to-white/60;
  }
}
